//Variables

$light-green: #7ed56f;
$light-green-transparent: #7ed56fb6;
$light-gray-1: #f7f7f7;
$medium-green: #55c57a;
$dark-green: #28b485;
$dark-green-transparent: #28b485a4;


//Grid

$grid-width: 114rem;
$grid-gap: 6rem;